{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <header>{% block header %}{% endblock header %}</header>
    <div class="basic">
        {% block content %}
        {% endblock content %}

    </div>

    <div class="nav-bar">
        <a class="nav-item" href="{% url 'home' %}"><img src="{% static 'nav_home.svg' %}" alt="nav_home"></a>
        <a class="nav-item" href="{% url 'Customer_map' %}"><img src="{% static 'nav_vote.svg' %}" alt="nav_vote"></a>
        <a class="nav-item" href="{% url 'Shop_info_Anam' %}"><img src="{% static 'nav_biz.svg' %}" alt="nav_biz"></a>
        <a class="nav-item" href="{% url 'mypage' %}"><img src="{% static 'nav_mypage.svg' %}" alt="nav_mypage"></a>
    </div>
</body>
</html>