{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock css %}

{% block header %}    
<img src="{% static 'home_logo.svg' %}" alt="home_logo">
<img src="{% static 'home_shopick.svg' %}" alt="home_shopick">
{% endblock header %}

{% block content %}
<div class="container">
    <img class="banner" src="{% static 'home_banner.svg' %}" alt="home_banner">
    <div class="customer">
        <p>우리 동네에 원하는 브랜드가 있으신가요?</p>
        <img src="{% static 'home_vote.svg' %}" alt="home_vote">
        <div class="button"><a href="http://127.0.0.1:8000/Customer_map">투표하러 가기</a></div>
        <br>
    </div>
    
    <div class="ceo">
        <p>새로운 창업을 계획 중이신가요?</p>
        <img src="{% static 'home_shop.svg' %}" alt="home_shop">
        <div class="button"><a href="http://127.0.0.1:8000/CEO_map">상권 정보 보러 가기</a></div>
    </div>

</div>
{% endblock content %}