{% extends 'base.html' %}
{% block title %}Detail{% endblock title %}
{% load socialaccount %}
{% providers_media_js %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}">
{% endblock css %}


{% block header %}
{% if user.is_authenticated %}
<h1>마이페이지</h1>
{% else %}
<h1>로그인</h1>
{% endif %}
{% endblock header %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <div class="welcome">
        <img src="{% static 'mypage_user.svg' %}" alt="mypage_user">
        <p>안녕하세요, {{ user.username }}님!!</p>
    </div>

    <div class="user_info">
        <div class="basic_info">
            <!-- mypage_edit 내용 -->
            <h2>기본 정보 수정</h2>
                <div class="gender_age">
                    <p>성별/나이</p>
                    <div class="select_gender_age">
                        <select name='gender'>
                            <option value='' selected>-- 성별 선택 --</option>
                            <option value='male'>남자</option>
                            <option value='female'>여자</option>
                        </select>
                        <select name='age'>
                            <option value='' selected>-- 나이 선택 --</option>
                            <option value='10'>10대</option>
                            <option value='20'>20대</option>
                            <option value='30'>30대</option>
                            <option value='40'>40대</option>
                            <option value='50'>50대</option>
                            <option value='60_plus'>60대 이상</option>
                        </select>
                    </div>
                </div>

                <div class="email">
                    <p>이메일</p>
                    <input type="text" name="email" placeholder="이메일을 입력해주세요.">
                </div>
                <div class="location">
                    <p>지역</p>
                    <div class="select_location">
                        <select name='location_gu'>
                            <option value='' selected>-- 구 선택 --</option>
                            <option value='seongbuk'>성북구</option>
                        </select>
                        <select name='location_dong'>
                            <option value='' selected>-- 동 선택 --</option>
                            <option value='anam'>안암동</option>
                            <option value='jongam'>종암동</option>
                        </select>
                    </div>
                </div>
        </div>

        <br>

        <div class="my_votes">
            <h2>나의 투표</h2>
        </div>
    </div>

    {% else %}
    <div class="bigbox">
        <div class="box">
            <h3>소비자 로그인</h3>
            <img class="people" src="{% static 'login_user.svg' %}" alt="login_user">
            <br>
            <p>로그인이 필요한 서비스입니다.</p>
            <br>
            <div class="kakao_login">
                <img src="{% static 'login_kakaotalk.svg' %}" alt="login_kakaotalk">
                <a class="kakao" href="{% provider_login_url 'kakao' %}">카카오로 로그인</a>
            </div>
            <div class="google_login">
                <img src="{% static 'login_google.svg' %}" alt="login_google">
                <a class="google" href="{% provider_login_url 'google' %}">구글로 로그인</a>
            </div>
        </div>
    </div>
    
    {% endif %}
</div>
{% endblock content %}