{% extends 'base.html' %}
{% block title %}Detail{% endblock title %}
{% load socialaccount %}
{% providers_media_js %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <img src="{% static 'mypage_user.svg' %}" alt="mypage_user">
    <div class="welcome"><p>안녕하세요, {{ user.username }}님!!</p></div>

    <h1>기본 정보</h1>
    <p>연령대</p>
    <p>이메일</p>
    <p>지역</p>

    <h2>나의 투표</h2>

    {% else %}
    <p>소비자 로그인</p>
    <img src="{% static 'login_user.svg' %}" alt="login_user">
    <p>로그인이 필요한 서비스입니다.</p>
    <div class="kakao login">
        <img src="{% static 'login_kakaotalk.svg' %}" alt="login_kakaotalk">
        <a class="kakao" href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
    </div>
    {% endif %}
</div>
{% endblock content %}