{% extends 'base.html' %}
{% block title %}shop_info{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'shop_info_anam.css' %}">
{% endblock css %}

{% block header %}
<div class="banner">
  <span><</span>
  <span class="word">상권</span>
</div>
{% endblock header %}

{% block content %}


<div class="anam">
  <h2>"성북구 종암동" 상권 정보</h2>
  <h4>2020.06.06 기준</h4>
</div>
<div class="move_vote">
  <p>소비자 투표 순위 보기</p>
</div>
<div class="anam_info">
  <div class="population">
    <h5>인구</h5>
    <div class="myeong">
      <p>6.4만명</p>
    </div>

  </div>

  <div class="sex_ratio">
    <h5>남녀 비율</h5>
    <div class="sex_graph">
      <p>남 45.9%</p>
      <p>여 54.1%</p>

    </div>

  </div>

  <div class="age_ratio">
    <h5>연령대</h5>
    <div class="age_graph">
      <p>10~20대 2.1만명</p>
      <p>30~40대 1.7만명</p>
      <p>50~60대 2.4만명</p>
    </div>

  </div>

  <div class="consumption">
    <h5>소비 성향</h5>
    <div class="consum_detail">
      <p>식료품 27.5%</p>
      <p>교통 15.7%</p>
      <p>의료 13.3%</p>
    </div>


  </div>

  <div class="rent">
    <h5>평균 임대료 </h5>
    <div class="won">
      <p>1층 10.2만원</p>
      <p>1층 외 7.4만원</p>
      <p>전체 9만원</p>


    </div>


  </div>

  <div class="traffic">
    <h5>교통 정보</h5>
    <div class="sub_bus">
      <p>지하철 안암역</p>
      <p>버스 성북04 273 1111 2115 101 144</p>
      <p>자세히 보기</p>
    </div>

  </div>

  <div class="store_total">
    <h5>점포 수</h5>
    <div class="gae">
      <p>138개</p>
    </div>

  </div>

  <div class="store_kind">
    <h5>점포 종류</h5>
    <div class="kind_detail">
      <p>프랜차이즈 10</p>
      <p>일반점포 128</p>

    </div>


  </div>




</div>










{% endblock content %}