{% extends 'base.html' %}
{% block title %}shop_info{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'shop_info_jongam.css' %}">
{% endblock css %}

{% block header %}
    <p class="top">상권</p>
{% endblock header %}

{% block content %}


<div class="anam">
  <h2>"성북구 종암동" 상권 정보</h2>
  <h4>(2019.12.31 기준)</h4>
  <div class="move_vote">
    <p>소비자 투표 순위 보기</p>
  </div>
</div>
<br>

<div class="anam_info">

  <div class="box">
    <h5>인구</h5>
    <div class="myeong">
      <p>4.1만명</p>
    </div>
  </div>

  <div class="box">
    <h5>남녀 비율</h5>
    <div class="sex_graph">
      <p>남 51.5%</p>
      <p>여 48.5%</p>
    </div>

  </div>

  <div class="box">
    <h5>연령대</h5>
    <div class="age_graph">
      <p>10~20대 2.2만명</p>
      <p>30~40대 0.9만명</p>
      <p>50~60대 1.0만명</p>
    </div>
  </div>

  <div class="box">
    <h5>소비 성향</h5>
    <div class="consum_detail">
      <p>식료품 27.8%</p>
      <p>교통 13.8%</p>
      <p>교육 13.5%</p>
    </div>
  </div>

  <div class="box">
    <h5>평균 임대료 </h5>
    <div class="won">
      <p>1층 11만원</p>
      <p>1층 외 6.5만원</p>
      <p>전체 8.8만원</p>
    </div>


  </div>

  <div class="box">
    <h5>교통 정보</h5>
    <div class="sub_bus">
      <p>지하철 : 안암역</p>
      <p>버스 : 성북 04 273 1111 2115 101 144</p>
    </div>

  </div>

  <div class="box">
    <h5>점포 수</h5>
    <div class="gae">
      <p>138개</p>
    </div>
  </div>

  <div class="box">
    <h5>점포 종류</h5>
    <div class="kind_detail">
      <p>프랜차이즈 18</p>
      <p>일반점포 120</p>
    </div>


  </div>




</div>










{% endblock content %}