{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Vote_Ending.css' %}">
{% endblock css %}

{% block header %}    
<img src="{% static 'home_logo.svg' %}" alt="home_logo">
<img src="{% static 'home_shopick.svg' %}" alt="shohome_shopickpick">
{% endblock header %}

{% block content %}
<div class="box">
    <p>투표가 완료되었습니다.</p> 
   
    <a class= "home" href = "{% url 'home' %}">홈</a>
    <br>
    <br>
    <img src = "https://i.pinimg.com/originals/bf/41/cd/bf41cdcb78d70e939578774053efa147.jpg" width="500px", height="350px"> 
</div>
{% endblock content %}