<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vote_category</title>
</head>
<body>
  <h1>{{ questions.name }}</h1>

  <form>
    {% csrf_token %}
    {% for category in categorys.choice_set.all %}
      <input type="radio" name="category" value="{{ choice.id }}">
      <label>{{ category.name }}</label>
      <br>
    {% endfor %}
    <input type="submit" value="투표하기">
  </form>


</body>
</html>