.welcome {
    height: 110px;
    background-color: #f7d777;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.welcome p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.user_info {
    width: 85%;
    margin: 0 auto;
}

.user_info h2 {
    color: #f7d777;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.user_info p {
    font-size: 15px;
}

.basic_info {
    padding: 30px 0;
}

.gender_age, .email, .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select_gender_age {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select_gender_age select{
    color: #95989a;
    width: 47%;
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #f7d777;
    background-color: white;
}

.email input {
    color: #95989a;
    width: 70%;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #f7d777;
    background-color: white;
}

.select_location {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select_location select{
    color: #95989a;
    width: 47%;
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #f7d777;
    background-color: white;
}

.edit_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit_button button {
    color: white;
    font-weight: 700;
    font-size: 18px;
    width: 80%;
    height: 48px;
    border-radius: 24px;
    border: 0px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f7d777;
}