.welcome {
    height: 110px;
    background-color: #f7d777;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.welcome p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.user_info {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user_info h2 {
    color: #f7d777;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.user_info p {
    font-size: 15px;
}

.basic_info {
    padding: 30px 0;
    border-bottom: 0.7px solid rgb(140, 140, 140);
}

.gender_age, .email, .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select_gender_age {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select_gender_age select{
    color: #95989a;
    width: 47%;
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #f7d777;
    background-color: white;
}

.email input {
    color: #95989a;
    width: 70%;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #f7d777;
    background-color: white;
}

.select_location {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select_location select{
    color: #95989a;
    width: 47%;
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: 2px solid #f7d777;
    background-color: white;
}

.basic_info a {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    margin: 0px auto;
}

.mypage_edit_button {
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 15px 75px;
    border-radius: 24px;
    border: 0px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f7d777;
}

.my_votes {
    padding: 30px 0;
}

.votes {
    width: 90%;
    height: 105px;
    margin: 20px auto;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.votes h3, h4 {
    margin: 8px 0;
}

.votes h4 {
    font-size: 12px;
    font-weight: 300;
}

.shop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.selected_location {
    background-color: #f7d777;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 50px;
}

/* kakao login */

.box h3 {
    opacity: 0.7;
    font-size: 20px;
}

.box p {
    font-size: 15px;
}
.bigbox {
    height: 80vh;

}
.people {
    width: 130px;
    height: 130px;
}
.box {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.kakao_login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffeb3b
}

.kakao {
    text-decoration: none;
    color: #707070;
}

.google_login {
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:#f5f5f5;
}

.google { 
    text-decoration: none;
    color: #707070;
}
