.move_vote {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffeb3b
}